@charset "UTF-8";
/*날짜 버튼시작*/
/* Style tab links */

.test {
  margin: 20px 20px 20px 20px;
}

.test_button {
  float: right;

}

.test_text {
  float: right;
}

.button,
.button_text {
  font-family: helvetica, arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 12px;
  text-decoration: none;
  padding: 6px 10px 6px 19px;
  border-radius: 3px;
  position: relative;
  margin: 10px;
}

.heart {
  font-size: 16px;
  position: absolute;
  top: 7px;
  left: 5px;
}

.text_like {
  display: inline;
}

.text_liked {
  display: none;
}

.button_text_light, .button_light {
  color: #757a6f;
}
.button_text_light .heart, .button_light .heart {
  color: #757a6f;
}
.button_text_light:hover:not(.selected) .heart, .button_light:hover:not(.selected) .heart {
  color: #ee6356;
  font-size: 19px;
  top: 6px;
  left: 4px;
}
.button_text_light.shine .heart, .shine.button_light .heart {
  background: #ee6356;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.button_text_light.shine:hover:not(.selected) .heart, .shine.button_light:hover:not(.selected) .heart {
  background: linear-gradient(45deg, #ee6356 20%, #fce3e1 25%, #ee6356 30%);
  background-position: left top;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-size: 100px 1px;
  -webkit-animation-name: shine;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

.button.selected {
  color: #ee6356;
  background-color: #fff;
  border: 1px solid #ee6356;
}
.button.selected .heart {
  color: #ee6356;
  background-color: #ee6356;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.button.selected .text_like {
  display: none;
}
.button.selected .text_liked {
  display: inline;
}

.button.button_text.selected {
  color: #2e21df;
  background: transparent;
  border: none;
}
.button.button_text.selected .heart {
  color: #2e21df;
  background-color: #2e21df;
}
.lec-content1>div{
	padding : 20px 20px 50px 20px;
	margin-bottom: 20px;
}
.lec-content2>div{
	padding : 20px 20px 50px 20px;
	margin-bottom: 20px;
	border: 1px solid;
	
}
.padd{
	padding:20px 20px;
	
}
.tablink {
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	width: 14.28%;
	position: relative;
	z-index: 2;
}

.tablink:hover {
	background-color: #777;
	
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
	color: white;
	display: none;
	padding: 100px 20px 30px 20px;
	height: 100%;
	z-index: 1;
}
/*날짜버튼 끝*/
.small-font {
	font-family: 'Poppins', sans-serif;
	font-size: 0.8rem;
	line-height: 1.71;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.5);
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
	text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

.middle-font {
	font-family: 'Poppins', sans-serif;
	font-size: 1.3rem;
	line-height: 1.71;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.5);
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
	text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

.big-font {
	font-family: 'Poppins', sans-serif;
	font-size: 2rem;
	line-height: 1.71;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.5);
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
	text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
	font-weight: bold;
}
.star {
	margin-top:3rem;
	margin-bottom:3rem;
	text-align: center;
	
}

.cb {
	clear: both;
}

.lec-simple>div>div {
	display: inline-block;
	
}

.lec-simple {
	padding: 20px 0px 20px 0px;
}

.lec-date {
	border: 1px solid;
	position: relative;
}

.lec-add {
	border: 1px solid;
	padding: 30px 20px;
}

.lec-about {
	padding: 10px;
	!important;
	border: 1px solid;
}

.tp {
	padding-left: 0px;
	padding-right: 0px;
}

.teacher-profile {
	border: 1px solid;
	padding: 50px 20px;
}

.image_outer_container {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-top: 30px;
	margin-bottom: auto;
	border-radius: 50%;
	position: relative;
}

.image_inner_container {
	border-radius: 50%;
	padding: 5px;
	background: #833ab4;
	background: -webkit-linear-gradient(to bottom, #fcb045, #fd1d1d, #833ab4);
	background: linear-gradient(to bottom, #fcb045, #fd1d1d, #833ab4);
}

.image_inner_container img {
	height: 100px;
	width: 100px;
	border-radius: 50%;
	border: 5px solid white;
}

.image_outer_container .green_icon {
	background-color: #4cd137;
	position: absolute;
	right: 30px;
	bottom: 10px;
	height: 30px;
	width: 30px;
	border: 5px solid white;
	border-radius: 50%;
	z-index: 100;
}

.lec-img {
	
  max-width: 100%;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

nav>ul>li>a {

	font-size: 14px;
	font-weight: 600;
	color: rgba(0, 0, 0, 0.45);
	display: inline-block;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

nav>ul>li {
		vertical-align:middle;
	font-size: 13px;
	border: 1px solid;
	width: 12vh;
	height: 5vh;
	padding-top:1vh;
	text-align: center;
	border: 1px solid;
	
}
nav>ul{
	display: table;
}
nav {
	padding-left: 0px;
	padding-right: 0px;
	background-color: white;
	!
	important;
}

.size {
	width: 100%;
}
/* Style the navbar */
#navbar {
	overflow: hidden;
	
}
/* Navbar links */
#navbar a {
	text-align: center;
	text-decoration: none;
	
}
/* Page content */
.content {
	padding: 16px;
}
/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
	
	position: fixed;
	padding-left: 30px;
	padding-right: 30px;
	top: 80px;
	width: 79vh;
	z-index: 100;
}
/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky+.content {
	padding-top: 60px;
}